# Python dependencies & environments
**/venv/
**/env/
**/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node dependencies & UI builds
**/node_modules/
**/dist/
**/build/
.npm
.eslintcache

# Local databases & configurations
*.db
backend/cybershield.db
.env
backend/.env

# IDE & Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
